.main-text {
  margin-left: 10px;
  margin-top: 10px;
  width: 35%;
  background-color: rgba(2, 10, 18, 0.8);
  color: wheat;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.text-area{
  margin-left: 10px;
  margin-top: 10px;
  width: 58%;
  background-color: rgba(2, 10, 18, 0.8);
  color: wheat;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.dairy {
  display: flex;
  border: 2px solid black;
}

.logout {
  width: 10%;
  height: 10%;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
  text-transform: uppercase;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  cursor: pointer;
  outline: none;
  padding: 20px;
}

.date {
  margin-left: 550px;
  margin-top: 10px;
  width: 15%;
  background-color: rgba(2, 10, 18, 0.8);
  color: wheat;
  padding: 15px 0;
  border: none;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.user-credentials {
  height: 450px;
  width: 400px;
  background-color: rgb(23, 21, 22);
  position: absolute;
  margin-top: 20px;
  margin-left: 35%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.mainbutton-container {
  width: 35%;
  height: 70px;
  justify-content: center;
  background: #4FD1C5;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10%;
  margin-left: 10px;
  padding: 10px;
}

.credential-logout {
  width: 10%;
  height: 10%;
  margin-bottom: 10px;
  margin-left: 1120px;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  padding: 20px;
}